<div class="box">
    昵称: <span id="userName"></span> <br/> 房间: {{roomID}} <br/> 当前在线人数: <span id="count">{{users.length}}</span> <br/> 在线用户:
    <div id="users">{{users}}</div>

    <button id="joinOrLeave">退出房间</button>


    <div id="recordingslist"></div>
</div>
<div class="bannar">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-number="0"><img src="https://www.iissr.com/images/index.jpg" alt=""></div>
            <div class="swiper-slide" data-number="1"><img src="https://www.iissr.com/images/index.jpg" alt=""></div>
            <div class="swiper-slide" data-number="2"><img src="https://www.iissr.com/images/index.jpg" alt=""></div>
            <div class="swiper-slide" data-number="3"><img src="https://www.iissr.com/images/index.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="center" style="padding-bottom: 80px">
    <div class="center-auto">
        <ul class="app-box" id="app-box">

        </ul>
    </div>
</div>

<form class="subform" action="">
    <div class="form-auto clearfix">
        <div class="cz">操作</div>
        <div class="input-box">
            <div class="text clearfix">
                <div class="in-box"><input type="text" id="m" placeholder="加入一起讨论..." /></div>
                <div class="tw clearfix" id="tw" data-status="false">
                    <div class="yuan yuan-bor">
                        <div class="x-yuan"></div>
                    </div>
                    <div class="tw-text">提问</div>
                </div>
            </div>
        </div>
        <button class="submit" id="submit">发送</button>
    </div>
</form>

<ul id="messages">
</ul>